# Default owners for everything in the repo
* @kaupoko @ElinaMattsson @Satziy

# Documentation is mainly Elina's area, but you all stay in the loop
/docs/ @ElinaMattsson @kaupoko @Satziy

# Source code is mainly Satu's area, but again, everyone is included
/src/ @Satziy @kaupoko @ElinaMattsson

# README is shared
README.md @kaupoko @ElinaMattsson @Satziy
